@media  screen and (max-width: 480px) {
    #responsive{
        display: none;
    }

}

@media screen and (max-width: 768px){
    #Entregable img:hover{
        border: 10px solid red;
    }
    

}

#Entregable {
    overflow-y:scroll ;
    overflow-x:scroll;
}
#Entregable .col-lg-4 {
    margin: 0px;
    padding: 25px;
}

#Entregable img {
    width: 350px;
    height: 250px;
}

#Entregable img:hover {
    border: 5px solid black;
}

#Entregable {
    color: black;
    border: 1px dashed pink
}
